main {
    display: flex;
    justify-content: center;
}

.bgimage {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
    position: absolute;
    z-index: -1;
}

.aboutbox {
    bottom: 5%;
    width: 80%;
    height: auto;
    background-color: #f4e8de;
    transform: translateY(20px);
    opacity: 0;
}

.visible {
    opacity: 1;
}

.aboutbox--visable {
    transform: translateY(0);
    opacity: 1;
}

h2,
p {
    padding: 1rem;
}